RAILS_ENV=development

# Used in puma.rb
PORT=3000
WORKER_TIMEOUT=3600 # recommended to development (keep "byebug" open for more time)

# Used in puma.rb and database.yml
RAILS_MAX_THREADS=5
WEB_CONCURRENCY=2

LOG_LEVEL=debug

# Used in database.yml
DB_HOST=postgres
DB_PORT=5432
DB_USER=studies
DB_PASS=p4$$w0rd
DB_NAME=studies

# Used by docker postgres
POSTGRES_PASSWORD=p4$$w0rd

# redis
REDIS_URL=redis://:root123@redis:6379
REDIS_CACHE_PATH=0/cache

# Sidekiq
ACTIVE_JOB_URL=redis://:root123@redis:6379/0
ACTIVE_JOB_QUEUE_PREFIX=studies:jobs
SIDEKIQ_USERNAME=root
SIDEKIQ_PASSWORD=root123

#JWT
jwt_secret_key=
